@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

body {
  @apply bg-gray-100 dark:bg-gray-900 dark:text-white
}

.active {
  @apply font-bold bg-gray-600 text-slate-200
}

.icon {
  @apply hover:text-blue-600
}

button.slick-arrow {
  background-color: #0c0b0b;
  border-radius: 50%;
}

.slick-arrow:hover {
  background-color: #7777;
}

.input {
  @apply w-full rounded-lg bg-gray-50 text-gray-800 dark:text-gray-600 border px-2 py-3 text-sm focus:outline-none block overflow-hidden shadow-md focus-within:border-blue-600
}

.label {
  @apply block text-sm font-medium py-1
}

.react-multi-carousel-list ul {
  @apply gap-3
}